version: 2.1

orbs:
        python: circleci/python@1.3.2
        docker: circleci/docker@1.5.0

jobs:

        build-and-test:
                executor: python/default
                working_directory: /home/circleci/project
                steps:
                        - checkout:
                                path: /home/circleci/project
                        - python/install-packages:
                                # pip-dependency-file: /home/circleci/build-dir/requirements.txt
                                pip-dependency-file: requirements.txt
                                pkg-manager: pip
                          # - python/load-cache
                          # - python/install-deps
                          # - python/save-cache
                          # - run:
                          #       command: mkdir test-results
                          #       name: mkdir test-results
                        - save_cache:
                                key: git-sha-{{ .Revision }}
                                paths:
                                        - /home/circleci/project
                        - run:
                                command: pytest
                                name: pytest
                        - run:
                                command: flake8
                                name: flake8
        # deploy-docker:
        #         executor: docker/docker
        #         working_directory: /home/circleci/project
        #         steps:
        #                 - setup_remote_docker
        #                   # - checkout
        #                 - restore_cache:
        #                         key: git-sha-{{ .Revision }}
        #                 - docker/check
        #                 - docker/build:
        #                         image: $DOCKER_LOGIN/$PROJECT_REPONAME
        #                 - docker/push:
        #                         image: $DOCKER_LOGIN/$PROJECT_REPONAME
        #                         tag: latest,$CIRCLE_SHA1 # TODO NE fonctionne pas !
        #                 - save_cache:
        #                         key: docker-build-{{ .Revision }}
        #                         paths:
        #                                - /home/circleci/project
                        
        deploy-heroku:
                machine: true
                working_directory: /home/circleci/project
                steps:
                        # - checkout
                        - restore_cache:
                                keys:
                                        - git-sha-{{ .Revision }}
                                        # - docker-build-{{ .Revision }}
                        - run:
                                name: Build and push Docker image to Heroku
                                command: |
                                        sudo curl https://cli-assets.heroku.com/install.sh | sh
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set DEBUG=0 -a ${HEROKU_APP_NAME}
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set PORT=8000 -a ${HEROKU_APP_NAME}
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set SECRET_KEY=${DJANGO_SECRET_KEY} -a ${HEROKU_APP_NAME}
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set SENTRY_DSN=${SENTRY_DSN} -a ${HEROKU_APP_NAME}
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:push -a ${HEROKU_APP_NAME} web
                                        HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a ${HEROKU_APP_NAME} web

workflows:
        main:
                jobs:
                        - build-and-test
                        # - deploy-docker:
                        #         requires:
                        #                 - build-and-test
                        - docker/publish:
                                requires:
                                        - build-and-test
                                image: $DOCKER_LOGIN/$PROJECT_REPONAME
                                # remote-docker-dlc: true
                                tag: latest,$CIRCLE_SHA1
                                # use-remote-docker: true
                                filters:
                                        branches:
                                                only: master
                        - deploy-heroku:
                                requires:
                                        - build-and-test
                                filters:
                                        branches:
                                                only: master

